.App {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 5rem;
  height: 100vh;
}
.App > label {
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.App > input {
  font-family: inherit;
  padding: 0.2rem;
  border: 0.1rem solid #aaa;
  border-radius: 0.2rem;
  min-width: 20rem;
  font-size: 1rem;
  outline: none;
}
.data {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  margin: 2rem 0;
}
.wrapper {
  border: 0.1rem solid #aaa;
  padding: 1rem;
  min-height: 5rem;
  flex-basis: 30%;
}
